.table__cell_theme_dark {
  max-width: 200px;
  color: white;
  margin: 80px 0;
  position: relative;
  padding-top: 40px;
}
.table__cell_theme_dark::before {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  counter-increment: list;
  content: counter(list);
  position: absolute;
  top: 0;
}
